body {
    font-family: $open-slab;
    font-size: $base-size;
}

.h1 {
    font-family: $rakkas-slab;
    font-size: $h1;
}

.h2 {
    font-family: $rakkas-slab;
    font-size: $h2;
}

.h3 {
    font-family: $open-slab;
    font-size: $h3;
}

a {
    color: $links;

    &:hover {
        color: $links;
        background-color: $blue;
        border-color: $blue;
        border-radius: 25px;
    }
}

button {
    padding: 10px;
    background-color: none;
    border: 1px;
    border-radius: 25px;

    &:hover {
        padding: 10px;
        background-color: none;
        border: 1px;
        border-radius: 25px;
    }

    &.green {
        background-color: $green;
    }

    &.pink {
        background-color: $pink;
    }

    &.tag {
        font-size: $mini-base;
        color: $pink;
        border-color: $pink;
    }
}


// input {
//     background-color: lighten(gray, 25%);
//     border: 1px solid darken($gray, 25%);
//     border-radius: 5px;
//     padding: 5px;
//     color: white;

//     &.is-double {
//         width: 50%;
//     }
// }

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}


//IMG

img {
    display: flex;
    object-fit: cover;

    &:hover {
        background: $pink;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
    }
}


//Media

@media all and (min-width: 1000px) {
    .h1 {
        font-size: 4rem;
    }

    .h2 {
        font-size: 3rem;
    }
}