.container {
    padding: 5%;
    margin: auto;
    display: flex;
    width: 80%;
}

.fluid-container {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    width: 100%;
    text-align-last: center;
}

.flex-article {
    padding: 20px;
    margin: 20px;
}


//BLOG A REPLACER

h4.title-blog {
    color: $black;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
}

ul.post-categories {
    margin: revert;

    a {
        color: $pink;
        text-emphasis: none;
        text-decoration: none;
        font-weight: bold;
        font-size: 10px;
    }
}

label a {
    padding: 10px;
    border: solid 1px $pink;
    border-radius: 25px;
    height: 20px;
    width: max-content;
}

label li {
    display: inline;
}
