#hero {
    font-weight: bold;
    margin-top: 250px;
    width: 75%;

    & h1 {
        font-size: 65px;
        background: -webkit-linear-gradient(#142664, #00e6b3);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        margin-top: 1em;
        font-size: 20px;
        color: $black;
        width: 75%;
    }

    img {
        margin-top: -100px;
    }
}

//Plugin info//

article.flex-info {
    display: flex;
}

.flex-info {
    padding: 40px;
    margin: 20px;
    border-radius: 25px;
    align-items: center;

    img {
        max-width: 100%;
    }

    &.first {
        display: block;
        background-color: $flat-light;
        max-width: 50%;
    }
}

.flex-info:hover {
    background-color: $flat-light;
}
