// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,800;1,400&family=Rakkas&display=swap');
$rakkas-slab: 'Rakkas';
$open-slab: 'Open sans';
$fonts: serif,
sans-serif;

// Size
$h1: 65px;
$h2: 36px;
$h3: 20rem;
$base-size: 18px;
$mini-base: 16px;

//Layout
$base-padding: 1rem;

// Colors 
$links:rgb(179, 241, 9);
$blue:#142664;
$green: #1AD3B2;
$black:#363636;
$flat-gray: #8F8F8F;
$flat-light: #F5F5F5;
$pink: #FF2E93;
$white: white;
$gray: #8F8F8F;