.menu-primaire-menu-container {
    margin-top: 50px;
    color: $blue;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

    & a,
    ul,
    li {
        display: flex;
        justify-content: center;
        padding-right: 50px;
        padding-left: 50px;
        height: 40px;
        align-items: center;

        & a,
        a:visited {
            color: $blue;
            text-decoration: none;
            text-emphasis: none;

            &:hover,
            :active {
                width: fit-content;
                transition: 5ms;
                background-color: $blue;
                color: $white;
                border-radius: 25px;
            }
        }
    }
}
